/*
screen - #c5c1c0
steel - #0a1612 
denim - #1a2930
marigold - #f7ce3e
*/

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    background: #000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #000, #14213d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #000, #14213d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, i {
    color: #fca311;
    font-family: "Ubuntu Mono", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.navbar-nav {
    font-size: 1.3rem;
    font-weight: bold;
}

i {
    color: #fca311;
}

.mainProfileImg {
    border-radius: 180%;
    border: 8px solid #fca311;
}

.mainHeader {
    font-size: 5.4rem;
    margin-bottom: -10px;
}

.subMainHeading {
    font-size: 5.4rem;
    color: #fff;
}

h4.sub-heading {
    font-size: 1rem;
    color: #fff;
}